.myBtn {
    display: block;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(22, 126, 126); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  .myBtn:hover {
    background-color: #555; 
  }

  .myBtn.hidden{
    display: none;
  }
