@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body{
    width: 1280px;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Jost', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
.card-list{
    padding: 0;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 20px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: rgb(197, 164, 195);
    font-size: 0;
    font-family: 'Jost', sans-serif;
    color:antiquewhite;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.amazing-img{
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.opened > .amazing-img{
    display: block;
}

.correct > .amazing-img{
    display: block;
    opacity: 0.5;
}

.card:hover{
    background-color: rgb(173, 137, 171);
    cursor: pointer;
}

.opened{
    font-size: 60px;
    background-color: antiquewhite;
    color:black;
}

.opened:hover{
    background-color: rgb(235, 220, 201);
    cursor: default;
}

.correct{
    font-size: 60px;
    background-color: rgb(145, 224, 108);
    color:black;
}

.correct:hover{
    background-color: rgb(135, 209, 101);
    cursor: default;
}
.popup-wrap{
    display: flex;
    justify-content: center;
}
.popup{
    display: none;
    flex-direction: column;
    width: 400px;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: 'Jost', sans-serif;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.popup.active{
    display: flex;
    animation: ani 1.5s forwards;
}
.popup h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin: 20px auto;
}
.button{
    margin: 0 auto 10px;
}
.resetButton{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #f22660;
    color: white;
    border: none;
    
}
.resetButton:hover{
    background-color: #ff4f81;
}